.nav-color{
  background-color: #142850;
}
.text-color{
  color: #15c7f4;
}
.cart-color{
  color:#15c7f4 ;
}
.hero-section{
  background-color:  #e0edfa;
}
.count{
  text-align: center;
  font-size: 60px;
  border-radius: 25px;
  background: linear-gradient(#051817,#0e3839);
  color:#14d6d9 ;
  justify-content: center;
  border: 2px solid ;
  box-shadow: 0 0 5px 25px;
}
.timer{
  margin-top: 8px;
  
}
